<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head'); %>
    <title>Administración de Usuarios</title>
	<script>
		window.onpageshow = function(){
			fetch('/validar')
			.then(result => result.json())
			.then(rs => {
				var usuario = rs.usuario
				if(!usuario){
					window.location=`/`
				}else{
					document.getElementById('UserLogin').textContent = usuario;
				}
			}) 
			.catch(error => {
				console.log("Error: ", error)
			})
		}
	</script>

</head>
<body class="stretched">
    <div id=" main-content">

        <%- include ('../partials/header'); %>
        
        <%- include ('../partials/administracion/titulo'); %>
		<%- include ('../partials/administracion/ModalI'); %>
		<%- include ('../partials/administracion/datatable'); %>
		<%- include ('../partials/administracion/ModalE'); %>
        
        
    </div>
        <%- include ('../partials/footer'); %>
        <%- include ('../partials/scripts'); %>
		<%- include ('../partials/administracion/scripts_a'); %>
</body>


</html>
