<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head'); %>
    <title>Home - Base Maestra</title>
    <script>
		window.onpageshow = function(){
			fetch('/validar')
			.then(result => result.json())
			.then(rs => {
				var usuario = rs.usuario
				if(!usuario){
					window.location=`/`
				}else{
					document.getElementById('UserLogin').textContent = usuario;
				}
			}) 
			.catch(error => {
				console.log("Error: ", error)
			})
		}
	</script>
</head>
<body class="stretched">
    <div id=" main-content">

        <%- include ('../partials/header'); %>
        
        <%- include ('../partials/info_sectionAdmin'); %>
        
        
    </div>
        <%- include ('../partials/footer'); %>
        <%- include ('../partials/scripts'); %>
</body>


</html>
